<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>Errors: <%= error %></div>
    <form action="" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required minlength="3" />
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        required
        minlength="3"
      />
      <label for="password">Confirm Password:</label>
      <input
        type="password"
        name="conf_password"
        id="conf_password"
        required
        minlength="3"
      />
      <button type="submit">Sign-up</button>
    </form>
  </body>
</html>
